<% if flash[:notice] %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<P>
  <strong>Title:</strong>
  <%= @book.title %>
</P>

<p>
  <strong>Body:</strong>
  <%= @book.body %>
</p>

<%= link_to "Edit",edit_book_path %>
  |
<%= link_to "Back",books_path %>